<pip-simple class="flex-auto">
    <md-fab-toolbar md-open="isOpenToolbar" md-direction="'right'">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon md-svg-icon="icons:dots"></md-icon>
            </md-button>
        </md-fab-trigger>

        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="photo" class="md-icon-button" ng-disabled="traceIndex === 0" ng-click="stepBack()">
                    <md-icon md-svg-icon="icons:arrow-left"></md-icon>
                </md-button>
                <md-button aria-label="photo" class="md-icon-button" ng-repeat="step in traces" 
                    ng-disabled="traceIndex === $index" ng-click="toStep($index)">
                    {{ $index + 1 }}
                </md-button>
                <md-button aria-label="photo" class="md-icon-button" ng-disabled="traceIndex === traces.length - 1" ng-click="stepForward()">
                    <md-icon md-svg-icon="icons:arrow-right"></md-icon>
                </md-button>
                <md-button aria-label="photo" class="md-icon-button" ng-click="isOpenToolbar = false">
                    <md-icon md-svg-icon="icons:cross"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>

    <pip-map pip-options="options" class="flex">
        <pip-map-markers pip-models="positions"></pip-map-markers>

        <pip-map-kml pip-models="baseObjects" pip-options="baseObjectsOptions">
        </pip-map-kml>

        <pip-map-kml pip-models="dotTrace" pip-options="dotTraceOptions">
        </pip-map-kml>
    </pip-map>
</pip-simple>